:root {
  --background-color: white;
  --text: #092834;
  --link: #46abd3;
  --link-hover:  #1391c3;
  --border: #092834;
  --highlight: lightgrey;
  --highlight2: grey;
  --main: #347B98;
  --message: #4aa5c9;
  --transition-duration: .5s;
}

[data-theme="dark"] {
  --background-color: black;
  --text: #e9f1fb;
  --link: #46a5ca;
  --link-hover: #93bceb;
  --border: #b4e3f5;
  --highlight: grey;
  --highlight2: lightgrey;
  --message: #2285ac;

}


body {
  font-family: Arial, sans-serif;
  color: var(--text);
  margin: auto;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-y: hidden;
  background-image: linear-gradient(150deg, var(--background-color), #347B98);
  transition: var(--transition-duration);

}

/*-------------------AUTH CONTAINER --------------*/


.auth-container {
  
  border:3px solid var(--border);
  display:flex;
  flex-direction: column;
  margin: 10px;
  width: clamp(350px, 400px, 500px);
  height: clamp(200px, 350px, 350px);
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 10px;
  padding: 10px;
  backdrop-filter: blur(10px);
  transition: var(--transition-duration);

}
h1 .theme{
  position:absolute;
  top: 0;
  right: 0;
  transform: scale(.7);
}

h1 .auth-container {
  display:flex;
  justify-content: space-between;
  
  text-align: center;
}
.form-group{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.form-group label {
  flex:1;
  margin-right: 10px;
}

.auth-container form {
  display: block; 
  margin-top: 10px;
}


.error-container {
  
  visibility: visible; 
  padding:5px;
  min-height: 28px;  
}

#error {
  text-align: center;
  font-weight: bold;
  color: var(--text);
  padding: 5px; 
}
.error-shake {
  animation: wiggle 250ms ease-out 4;
}


@keyframes wiggle {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(10px);
  }
}

#redirect {
  margin-top: auto;
}

#redirect a {
  color: var(--link);
  text-decoration: none; 
  font-weight: bold; 
  transition: var(--transition-duration);
}

#redirect a:hover {
  color: var(--link-hover);
  transition: var(--transition-duration);
}


/*-------------------CHATBOX --------------*/


.container {
  display: flex;
  flex-direction: column;
  position:relative;
  justify-content: flex-start;
  border:3px solid var(--border);
  border-radius: 10px;
  padding: 10px;
  backdrop-filter: blur(10px);
  width: clamp(400px, 850px, 1000px);
  height: clamp(450px, 70vh, 70vh);
  overflow:auto;
  overflow-y:auto;
}

.container h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  min-height: 40px;
}

.contacts-button {
  
  display: none;
  align-items: center;
  position:relative;
}

#contacts-roll{
  padding-left: 10px;
  margin-left: 10px;
}

#indicator {
  display:none;
  position:absolute;
  font-size: 1.2rem;
  right:1px;
  bottom:1px;  
  align-self: center;
  color: rgb(106, 30, 219);
  transition: 1s;
}

.blink{
  animation: blink 2s infinite;
}

@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}



.container h1 .theme{
  position: static;
  font-size: .8rem;
  align-self: flex-start;
  margin-top: -.5rem;
  margin-right: -.5rem;
  top: none;
  right: none;
}

#recipient-username {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  border-bottom: 1px solid var(--border);
  margin-bottom: 1rem;
}

#recipient-username:empty{
  border: none;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}
label {
  margin-right: 10px;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  min-width: 10px;
}
::placeholder{
  color: black;
  opacity: 50%;
}
#search-bar::placeholder{
  color: grey;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  background-color: #347B98;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}

button[disabled] {
opacity: 0.6;
cursor: default;
}

button:not([disabled]):hover {
  background-color: #1A3E4C;
}


.chat-container {
display: flex;
flex:1;
align-items: flex-start;
margin-top: 10px;
max-height:90%;

}

.chat-box {
display: flex;
flex-direction: column;
height:100%;
margin-right:10px;
word-break: break-all;
flex:10;
}


.message-box {
display: flex;
flex: 1;
flex-flow:column;
box-sizing: border-box;
border: 1px solid var(--border);
padding: 10px;
border-radius: 5px;
overflow-y: auto;
}


#current-chat {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.chat-own,
.chat-recipient{
  word-wrap: break-word;
  word-break: break-word;
  max-width: 100%;
  border-radius: 5px;
  margin: 2px;
  padding: 10px;

}
.chat-own{
  align-self:flex-end;
  margin-left: 3rem;
  margin-right: 1rem;
  background-color: var(--message);
}

.chat-recipient{
  align-self: flex-start;
  margin-right: 3rem;
  margin-left: 1rem;
  background-color: var(--highlight); 
}


#chat-form {
display:flex;
margin-top: 10px;
margin-bottom: 10px;
align-items:center;
}

#message-input {
align-self: auto;
flex: 1;
padding: 8px;
border: 1px solid #ccc;
border-radius: 5px;
}


/*-------------------CONTACTS --------------*/

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex:7;
  text-align: justify;

  height:95%;
  border: 1px solid var(--border);
  border-radius: 5px;
  padding: 10px;
  transition: 1s;
  
  overflow-y:auto;
  
  }

.search-bar-container {
  display:flex;
  

}
#menu-results{
  display:flex;
  flex-direction: column;
  padding: 1rem;
  max-height:50%;
  overflow: auto;
  border: solid var(--border);
  border-width: 0 2px 2px 2px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}

#menu-results:empty{
  border: none;
  box-shadow: none;
}
#menu-results:not(:empty) ~ #contact-list {
  visibility:hidden;
}

.result-item{
  display:flex;
  justify-content:space-between;
  align-items: center;

  border-bottom: 1px solid var(--border);
  padding: 3px;
  margin-bottom: 5px;
  transition: .5s;

}

.result-item:hover{
  --add-display: flex;
}
.result-item button {
  display: none;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: var(--highlight);
  opacity: 70%;
  border-radius:50%;
  padding: .5rem;
  height: 2rem;
  width: 2rem;
  transition: 1s;
}
.result-item button:hover{
  background-color: var(--highlight2);
}
.result-item:hover button{
  display: var(--add-display, none);


}

#search-bar{
  flex:1;
  
}

#contact-list{
  display:flex;
  flex-direction: column; 
  overflow-y: auto;
  max-height:100%;
  flex:1;
}

.contact,
.contact-unread{

  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 2px solid var(--border);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 5px;
  transition: .5s;
  }
.contact-unread{
  background-color: var(--link);
  order: -1;
  font-weight: bold;
}
.contact-unread:hover{
  background-color: var(--main);
  --button-display: flex;
}


.contact button,
.contact-unread button{
  display:none;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius:50%;
  height: 1.1rem;
  width: 1.1rem;
  color: black;
}
.contact:hover{
  background-color: var(--main);
  --button-display: flex;
}
.contact:hover button,
.contact-unread:hover button {
  display: var(--button-display, none);
  background-color:lightgrey;
  padding: 0;
}


  #unknown-list {
    max-height: 5rem;
    padding: 1rem;
    overflow: auto;
    border: 2px solid var(--border);
    border-width: 2px 0 0 0;
  }
  #unknown-list:empty {
    border: none;
  }

  [id^="unknown-"]:not(#unknown-list) {
    display:flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid black;
    padding: 3px;
    margin-bottom: 5px;
    transition: .5s;

  }

[id^="unknown-"]:not(#unknown-list):hover{
  --unknown-display: none;
  background: var(--main);

}
[id^="unknown-"]:not(#unknown-list):hover button{
  visibility: var(--unknown-display, none);

}

#accept,
#decline{
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--highlight);
  color: black;
  border-radius:50%;
  padding: .5rem;
  height: 2rem;
  width: 2rem;

}
#accept:hover,
#decline:hover{
  background-color: var(--highlight2);
  transition: 1s;
}
  
#accept{
  margin-left: auto;
}



/*---------------------IMPORTANT----------------------*/



.chat-container.toggle{
  display:none;
}


@media (max-width: 700px){
  #indicator{
    display: flex;
  }
  .contacts-button {
    display: flex;
  }
  .contacts {
    display: none;
  }
  .contacts.toggle {
    display: flex;
  }
  .chat-box.toggle{
    display:none;
  }
}